<div class="container">
  <div class="update-form">
    <div class="title mat-h1">Update Profile</div>
    <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="name" type="text" required />
        </mat-form-field>
      </div>

      <div class="sub-title mat-h1">Contact</div>

      <mat-grid-list
        cols="6"
        rowHeight="77px"
        (window:resize)="onResize($event)"
      >
        <ng-container formGroupName="contact">
          <mat-grid-tile [colspan]="col_span">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="text" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="col_span">
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone" type="text" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="col_span">
            <mat-form-field appearance="outline">
              <mat-label>Github</mat-label>
              <input matInput formControlName="github" type="text" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="col_span">
            <mat-form-field appearance="outline">
              <mat-label>LinkedIn</mat-label>
              <input matInput formControlName="linkedin" type="text" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="col_span">
            <mat-form-field appearance="outline">
              <mat-label>Website</mat-label>
              <input matInput formControlName="website" type="text" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="col_span">
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" type="text" />
            </mat-form-field>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>

      <div class="sub-title mat-h1">Experience</div>

      <ng-container formArrayName="experiences">
        <ng-container
          class="experience"
          *ngFor="
            let experience of this.getFormControlExperience().controls;
            let i = index
          "
        >
          <ng-container formGroupName="{{ i }}">
            <div class="form-group-menu form-group-margin-top">
              <button
                mat-icon-button
                type="button"
                color="warn"
                (click)="removeExperience(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-grid-list
              cols="6"
              rowHeight="77px"
              (window:resize)="onResize($event)"
            >
              <mat-grid-tile [colspan]="col_span">
                <mat-form-field appearance="outline">
                  <mat-label>Company Name</mat-label>
                  <input matInput formControlName="companyName" type="text" />
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="col_span">
                <mat-form-field appearance="outline">
                  <mat-label>Designation</mat-label>
                  <input matInput formControlName="designation" type="text" />
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="col_span">
                <mat-form-field appearance="outline">
                  <mat-label>Start Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="startDatePicker"
                    formControlName="startDate"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="col_span">
                <mat-form-field appearance="outline">
                  <mat-label>End Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="endDatePicker"
                    formControlName="endDate"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="col_span">
                <div class="checkbox-container">
                  <mat-checkbox formControlName="currentlyWorking"
                    >Currently Working Here</mat-checkbox
                  >
                </div>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="col_span">
                <mat-form-field appearance="outline">
                  <mat-label>Employment Type</mat-label>
                  <mat-select formControlName="employmentType">
                    <mat-option value="Full Time">Full Time</mat-option>
                    <mat-option value="Part Time">Part Time</mat-option>
                    <mat-option value="Contract">Contract</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="6">
                <mat-form-field appearance="outline">
                  <mat-label>Descsription</mat-label>
                  <input matInput formControlName="description" type="text" />
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </ng-container>
        </ng-container>
        <div class="form-group-menu">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="addExperience()"
          >
            <mat-icon class="material-icons-filled">add </mat-icon>
            Add New
          </button>
        </div>
      </ng-container>

      <div class="sub-title mat-h1">Education</div>

      <ng-container formArrayName="educations">
        <ng-container
          class="education"
          *ngFor="
            let education of this.getFormControlEducation().controls;
            let i = index
          "
        >
          <ng-container formGroupName="{{ i }}">
            <div class="form-group-menu form-group-margin-top">
              <button
                mat-icon-button
                type="button"
                color="warn"
                (click)="removeEducation(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-grid-list
              cols="6"
              rowHeight="77px"
              (window:resize)="onResize($event)"
            >
              <mat-grid-tile [colspan]="col_span">
                <mat-form-field appearance="outline">
                  <mat-label>School</mat-label>
                  <input matInput formControlName="school" type="text" />
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="col_span">
                <mat-form-field appearance="outline">
                  <mat-label>Degree</mat-label>
                  <input
                    matInput
                    formControlName="degree"
                    type="text"
                    placeholder="Bachelor Of Science"
                  />
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="col_span">
                <mat-form-field appearance="outline">
                  <mat-label>major</mat-label>
                  <input
                    matInput
                    formControlName="major"
                    type="text"
                    placeholder="Computer Science"
                  />
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="col_span">
                <mat-form-field appearance="outline">
                  <mat-label>Grade</mat-label>
                  <input matInput formControlName="grade" type="number" />
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="col_span">
                <mat-form-field appearance="outline">
                  <mat-label>Start Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="startDatePicker"
                    formControlName="startDate"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="col_span">
                <mat-form-field appearance="outline">
                  <mat-label>End Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="endDatePicker"
                    formControlName="endDate"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </ng-container>
        </ng-container>
        <div class="form-group-menu">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="addEducation()"
          >
            <mat-icon class="material-icons-filled">add </mat-icon>
            Add New
          </button>
        </div>
      </ng-container>

      <button mat-raised-button color="primary" type="submit">
        <mat-icon class="material-icons-filled">save </mat-icon>
        Save
      </button>
    </form>
  </div>
</div>
