.container {
  margin-top: 30px;
  padding: 10px;

}

.title {
  margin-bottom: 30px;
}

.sub-title {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
}

.form-row{
  width: 100%;
}
.slider-container {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.slider{
  width: 100%;
}
mat-form-field{
  box-sizing: border-box;
}
.checkbox-container {
  position: absolute;
  left: 5px;
}

.form-group-menu{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.form-group-margin-top {
  margin-top: 10px;
}
app-spinner {
  margin-top: 150px;
}

.agency-info {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--primary-color);
}

.row {
  padding-top: 5px;
}

.update-form {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  padding: 10px;
}

.checkbox-container {
  width: 100%;
  text-align: left;
  padding: 10px;
}
.styled-button {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}
